img {
    height :250px;
    text-align: center;
}
p {
    margin: 20px;
    padding: 10px;
}
.selected {
    background-color: rgba(0, 111, 214, 0.562);
    border: solid;
    color: white
}

.validated {
    background-color: rgba(128, 128, 128, 0.494);
    border: solid;
    color: white;
}
.error {
    background-color: red;
    border: solid;
    color: white;
}
.correct {
    background-color: green;
    border: solid;
    color: white;
}